
body {
  font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.middle {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 25%;
}

.full {
  background: no-repeat center center fixed;
	background-color: #ea8b25;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.previous {
    color: white;
    background: #264a84;

}


h1 {
  font-size: 30px;
}

.next {
    color:white;
    background: #264a84;

}

#logo {
   width: 100%;
   margin: 0 5px;
}

#teamSelector {
  margin: 10% 40%;
}

#nextStatus #previousStatus {
  align: center;
}
