
body {
  font-family: 'Josefin Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.middle {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 25%;
}

.full {
  background: no-repeat center center fixed;
	background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 1.5em;
   line-height: 70%;
}

h2 {
  font-size: 2em;
}

.gameCards {
  margin-top: 30px;
}

.card {
    color:white;
    background: black;
    margin-left: 5px;
    height: 250px;
    border-radius: 1%;
}

#logo {
   width: 100%;
   margin: 0 5px;
}

#teamSelector {
  margin: 10% 40%;
}

#nextStatus #previousStatus {
  align: center;
}

.logoSmall {
  height:40px;

  margin-bottom: 10px;
}

.dateInfo {
  text-align: center;
}

.teamInfo {
  text-align: center;
}
